<div class="col-9">
  <%= render 'layouts/message' %>
</div>

<% if @stock %>
  <div class="mt-3">
    <div class="row" style="display: inline">
      <div class="col-9">
        <div class="card card-header">
          <strong>Symbol: </strong> <%= @stock.ticker %>
          <strong>Name: </strong> <%= @stock.name %>
          <strong>Price: </strong> <%= @stock.last_price %>
        </div>
      </div>
    </div>
    <div class="row mb-5 mx-auto">
      <div class="col-9">
        <% if current_user.can_track_stock?(@stock.ticker) %>
          <%= link_to 'Add to your portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
                    class: "btn btn-success", method: :post %>
        <% else %>
          <span class="badge badge-secondary">
            You are already tracking
            <% unless current_user.under_stock_limit? %>
              10 Stocks
            <% end %>
            <% if current_user.stock_already_tracked?(@stock.ticker) %>
              this stock
            <% end %>
          </span>

        <% end %>
      </div>
    </div>
  </div>
<% end %>